body, html{
	background-image: url("bg1.jpg");
	
	height: 100%;

	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.heading{
	color: white;
	transform: translate(0px,-70px);
}

.content{
	color: white;
	transform: translate(0px,-70px);
}

/*This is the styling of cards*/

.span {
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: #FF3434;
  margin-bottom: 30px;
}

.proHead{
	font-size: 30px;
	padding: 40px;
	align-items: center;
	justify-content: center;
}

div.projects{
	background-color: #80EDFF;
}

div.main {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.containers {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
}
 
imag {
  width: 100%;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  margin: 0 0 15px;
}

p {
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 30px 0;
}
/*a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FF3434;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 5px;
  left: -5px;
}
a:hover {
  color: #FF3434;
}
a::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: calc(50%);
  left: 0;
  width: 100%;
  height: 40%;
  pointer-events: none;
  background:   #80EDFF;
  transform: scale3d(0, 1, 1);
  transform-origin: 0% 50%;
  transition: transform 0.33s;
}
a:hover::before {
          transform: scale3d(1, 1, 1);
          transform-origin: 0% 50%;
}*/
div.imag {
  height: 300px;
  width: 100%;
  background: url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg");
  background-position: center;
  background-size: cover;
}

div.text-container {
  margin: 60px 45px 55px;
}

@media screen and (min-width: 768px) {
  div.containers {
    flex-direction: row;
    width: 100%;
  }
div.imag {
    height: 420px;
    min-width: 360px;
  }
 div.text-container {
    margin: 0 60px;
    max-width: 660px;
  }
}
@media screen and (min-width: 1024px) {
  div.containers {
    max-width: 1200px;
  }
}

/*This is the styling of the contact me form*/

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
 
ul {
    list-style: none;
    padding: 0;
}
 
.maint {
    text-align: center;
	color: white;
}
.section {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}
 
.section > * {
    padding: 1em;
}
 
.brandname {
    background: #c9e6ff;
}
 
.brandname h3, .brandname ul {
    text-align: center;
    margin: 0 0 1rem 0;
}
 
.contact {
    background: #f9feff;
}
 
.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
 
.contact form label {
    display: block;
}
 
.contact form p {
    margin: 0;
}
 
.contact form .full {
    grid-column: 1 / 3;
}
 
.contact form button, .contact form input, .contact form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #c9e6ff;
}
 
.contact form button {
    background: #c9e6ff;
    border: 0;
    text-transform: uppercase;
}
 
.contact form button:hover, .contact form button:focus {
    background: #92bde7;
    color: #fff;
    outline: 0;
    transition: background-color 0.5s ease-out;
}
 
/* LARGE SCREENS */
@media(min-width:700px) {
    .section {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
 
    .section > * {
        padding: 2em;
    }
 
    .compnay-info h3, .brandname ul, .maint {
        text-align: left;
    }
}

/*This is the styling of footer*/

footer{
	position: relative;
	bottom: 0;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 10px 50px;
	margin-top: 20px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 10px 0 2px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-icons{
	margin-top: 15px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}